<%
#
#   Copyright [2011-2012] [Solr.pl, Marek Rogoziński, Rafał Kuć]
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
%>
<section>
    <h1><%=t 'explain.show.header' %> <%= @explain.code %></h1>
    <div class="messages">
    <% @explain.info( :error ).each do |i| %>
      <p class="err"><%= image_tag("error.png")%> <%=t i.message, i.params %></p>
    <% end %>
    <% @explain.info( :warning ).each do |i| %>
      <p class="warn"><%= image_tag("warning.png")%> <%=t i.message, i.params %></p>
    <% end %>
    <% @explain.info( :info ).each do |i| %>
      <p class="nfo"><%= image_tag("info.png")%> <%=t i.message, i.params %></p>
    <% end %>
    </div>
    <div class="result">
        <div class="tabs">
            <ul class="clearfix">
            <li class="found">
                    <a href="#found" title="view found"  class="current" onclick="$( this ).explain( 'toggleView', 'found', this ); return false;" onkeypress="return this.onclick( );">RETURNED</a>
                    </li>
                <li class="perf">
                    <a href="#perf" title="view performance" onclick="$( this ).explain( 'toggleView', 'perf', this ); return false;" onkeypress="return this.onclick( );">PERFORMANCE</a>
                </li>
                    <%#
                <li class="unassigned">
                    <a href="#unassigned" title="view unassigned" onclick="$( this ).explain( 'toggleView', 'unassigned', this ); return false;" onkeypress="return this.onclick( );">UNASSIGNED</a>
                    </li>
                  %>
            </ul>
        </div>
        <div class="result-found">
            <% if @explain.result.parsed? %>
                <%= render :partial => 'doc', :collection => @explain.result.docs, :locals => { :explain => @explain }, :spacer_template => "doc_ruler" %>
            <% else %>
                <p class="parse-error"><%=t 'explain.show.parse_failed' %></p>
            <% end %>
          </div>
        <div class="result-perf hidden">
          <% if @explain.result.parsed? %>
          	<%= render :partial => 'explains/performance', :locals => { :result => @explain.result } %>
          <% else %>
                <p class="parse-error"><%=t 'explain.show.parse_failed' %></p>
           <% end %>
        </div>
        <div class="result-unassigned hidden">
            <%#= render_explain_description( @explain, :unassigned ) %>
        </div>
    </div>
</section>
